@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    
}

.slider-container{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.left-slide{
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
}


.left-slide > div {
    height: 100%;
    width: 100%;
    color: white;
    padding: 10px;
}

.left-slide h1 {
    font-size: 3em;
    margin-bottom: 40px;
}

.left-slide h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.left-slide .git {
    display: inline-block;
    font-size: 20px;
    margin-top: 350px;
}

.left-slide .git .github-page{
    margin-bottom: 30px;
}


.left-slide li{
    line-height: 30px;
    list-style: none;
}

@media(max-width: 524px) {
   
    
.left-slide h1 {
    font-size: 2em;
    margin-bottom: 40px;
}

.left-slide h2 {
    font-size: 1em;
    margin-bottom: 40px;
}

.left-slide .git {
    margin-top: 250px;
    font-size: 20px;
}

.left-slide li{
    line-height: 30px;
    list-style: none;
}
}

.right-slide {
    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform .5s ease-in-out;

}

.right-slide > div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

button {
    background-color: white;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;

}

button:hover {
    color: #222;
}

button:focus {
    outline: none;
}

a{
    text-decoration: none;
    color: rgb(248, 246, 246);
}

a:hover{
    color: white;
    font-weight: 700;
}

a:visited{
    color: white;
}

a:active{
    color: white;
    text-decoration: none;
}

a:focus{
    font-weight: bold;
}


.slider-container .action-buttons button {
    position: absolute;
    top: 50%;
    left: 35%;
    z-index: 100;
}

.slider-container .action-buttons .down-button {
    transform: translateX(-100%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.slider-container .action-buttons .up-button {
    transform: translatey(-100%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;

}